body{
    margin: 0%;
    padding: 0%;
    background-color: black;
}

div{
    display: flex;
    justify-content: space-between;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

.button_box{
    margin-top: 420px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.button{
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    min-height: 25px; 
    min-width: 90px;
    margin-left: 10px;
    margin-right: 10px;
}

.button:hover {
    background-color:gray;
    transition: 0.1s;
}